
footer * {
  box-sizing: border-box;

}

footer .flex-container {
  /* background-color: rgba(0, 0, 0, 0.726); */
  color: whitesmoke;
  
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

footer .flex-item-left {
  
  padding: 10px;
  flex: 50%;
}

footer.flex-item-right {
  
  padding: 10px;
  flex: 50%;
}


footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
footer li a, .dropbtn {
    display: inline-block;
    /* color: rgb(236, 76, 76); */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  footer .dropdown-content a{
      font-size: large;
  }

  
  footer li.dropdown {
    display: inline-block;
  }
  
  footer .dropdown-content {
   
    position: static;
   
  }
  
  footer .dropdown-content a {
    color: whitesmoke;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* .dropdown-content a:hover {background-color: #f1f1f1;} */
  
  footer .dropdown:hover .dropdown-content {
    display: block;
  }
  footer .fab{
      color: rgba(247, 102, 6, 0.87);
  }
  footer .fa-caret-down{
     visibility: hidden;
  }
@media (max-width: 800px) {
  footer .flex-container {
    flex-direction: column;
  }
  footer .dropdown-content{
      display: none;
  }
  footer .fa-caret-down{
    visibility: visible;
   }
  
}
